<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title><%= post.title %> - Posty</title>
</head>
<body>
<div class="flex flex-col ctn">
    <h1 class="center"><%= post.title %></h1>
    <img src=<%= post.image %> alt="" class="img">
<div class="center"><%= post.description %></div>
<div class="flex ">
    <a href="/admin/create-item">Add Post</a>
    <a href="/admin/item-detail/update/<%= post.id %>">Edit Post</a>
    <form action="/item-detail/<%= post.id %>" method="post">
    <button>Delete</button>
    </form>
</div>
</div>
</body>
</html>