<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieGrave</title>
    <link rel="stylesheet" href="/index.css">

</head>
<body>
    <div class="flex flex-col">
        <h1>MovieGrave</h1>
        <a href="/create-movie">Create a movie now!</a>
        <% for(let movie of movies) { %>
        <a href="/movies/<%= movie._id %>" class="card">
            <h2><%= movie.name %></h2>
            <img class="img" src="<%= movie.poster %>" alt="">
            <p><%= movie.rating%></p>
            <h4><%= movie.genre%></h4>
        </a>
        <% } %>
    </div>
</body>
</html>